<h1> Edit Movie </h1>
<form action ="http://localhost:3000/update_movie/<%= @movie.id %>">
<label for="Title"> Title: </label>
<input type="text" name="the_title" value="<%= @movie.title %>" id="Title" />
<label for="Year"> Year: </label>
<input type="text" name="the_year" value="<%= @movie.year %>" id = "Year"/>
<label for="Duration"> Duration: </label>
<input type="text" name="the_duration" value="<%= @movie.duration %>" id = "Duration"/>
<label for="Description"> Description: </label>
<input type="text" name="the_description" value="<%= @movie.description %>" id = "Description"/>
<label for="Image URL"> Image URL: </label>
<input type="text" name="the_url" value="<%= @movie.image_url %>" id = "Image URL"/>

<button>Update Movie</button>
</form>
